*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* header */

header{
    background-color: white;
}

.head-container{
    max-width: 1800px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
}

.head-col{
    width: 50%;
}

/* fine header */

/* jumbotron */

#h1-testo{
    font-size: 50px;
}

.jumbo-container{
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
    display: flex;
}

.box-jumbo{
    width: 80%;
    height: 500px;
}

/* piano business */

.business-container{
    max-width: 1000px;
    height: 2000px;
}

/* fine piano business */

/* utility */

li{
    list-style: none;
}

.display-flex{
    display: flex;
}

.gap40{
    gap: 40px;
}

.justify{
    justify-content: right;
}

.button{
    max-width: 20%;
    padding: 10px 20px;
}

.item-center{
    align-items: center;
}

.border-black{
    border: 2px solid black;
    height: 100%;
}

.color-white{
    color: white;
}

.bg-red{
    background-color: red;
}

.bg-grey{
    background-color: grey;
}

.bg-lightskyblue{
    background-color: lightskyblue;
}

.bg-blue{
    background-color: blue;
}

/* fine utility */