*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* header */

header{
    background-color: white;
}

.head-container{
    max-width: 1800px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
}

.pad-bt-head{
    padding: 6px 12px;
}

/* fine header */

/* jumbotron */

.jumbo-container{
    max-width: 1000px;
    padding: 20px 0px 0px 0px;
    margin: 0 auto;
}

#h1-testo{
    font-size: 50px;
    padding-bottom: 50px;
    font-weight: 900;
}

.jumbo-content{
    display: flex;
}

.jumbo-img{
    width: 800px;
}

/* fine jumbotron */

/* piano business */

.business-container{
    max-width: 800px;
    height: 100%;
    padding: 30px 10px;
    margin: 0 auto;
}

.radio-button{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 4px solid blue;
}

/* colonne */

.intestazione-col{
    padding: 10px 0px;
}

.display-columns{
    display: flex;
    justify-content: space-between;
}

.button-text{
    font-size: small;
}

/* fine colonne */

/* rettangolo team */

.col-60 img{
    width: 100%;
}

/* fine rettangolo */

/* operazioni */

.card{
    max-width: 100%;
    position: relative;
}

.card img{
    max-width: 100%;
}

.img-text{
    color: black;
}

/* fine operazioni */

/* fine piano business */

/* utility */

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

.col-100{
    width: 100%;
}

li{
    list-style: none;
}

.display-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-end{
    justify-content: flex-end;
}

.justify-between{
    justify-content: space-between;
}

.gap40{
    gap: 40px;
}

.gap50{
    gap: 50px;
}

.padding-t10{
    padding-top: 10px;
}

.padding-t20{
    padding-top: 20px;
}

.padding-t30{
    padding-top: 30px;
}

.padding-t40{
    padding-top: 40px;
}

.padding-r30{
    padding-right: 30px;
}

.padding-l20{
    padding-left: 20px;
}

.button{
    max-width: 90%;
    padding: 6px 12px;
}

.item-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.border-grey{
    border: 2px solid grey;
}

.border-black{
    border: 2px solid black;
    width: 40%;
}

.color-white{
    color: white;
}

.bg-red{
    background-color: darkred;
}

.bg-grey{
    background-color: grey;
}

.bg-lightskyblue{
    background-color: lightskyblue;
}

.bg-blue{
    background-color: blue;
}

.mini-border{
    width: 20%;
    color: grey;
}

.margin-top{
    margin-top: 100px;
}

/* fine utility */

/* footer */

footer{
    background-color: black;
    height: 400px;
}